Source: klatexformula
Section: tex
Priority: extra
Maintainer: Tobias Winchen <tobias@winchen.de>
Build-Depends: debhelper (>= 9), cmake, qtbase5-dev, qtbase5-dev-tools, qttools5-dev, libqt5svg5-dev, libqt5x11extras5-dev, chrpath, help2man
Standards-Version: 4.0.0
Vcs-git: git://github.com/TobiasWinchen/klatexformula_debian.git
Vcs-Browser: https://github.com/TobiasWinchen/klatexformula_debian
Homepage: http://klatexformula.sourceforge.net/

Package: klatexformula
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GUI to easily get an image from a LaTeX formula or equation
 With klatexformula, just enter a formula and click "Evaluate" to get an image
 of a LaTeX formula. You can drag&drop, copy or save the resulting image
 directly from the GUI, which makes klatexformula a very convenient tool for
 presentations. Klatexformula also provides also tools for equation prototyping
 in LaTeX and a user-library of used equations.

Package: libklatexformula4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Runtime libraries for klatexformula
 With Klatexformula, just enter a formula and click "Evaluate" to get an image
 of a LaTeX formula. You can drag&drop, copy or save the resulting image
 directly from the GUI, which makes klatexformula a very convenient tool for
 presentations. Klatexformula also provides also tools for equation prototyping
 in LaTeX and a user-library of used equations.
 This package provides the libraries klatexformula is based on.

Package: libklatexformula4-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libklatexformula4 (= ${binary:Version})
Description: Runtime libraries for klatexformula, development files
 With Klatexformula, just enter a formula and click "Evaluate" to get an image
 of a LaTeX formula. You can drag&drop, copy or save the resulting image
 directly from the GUI, which makes klatexformula a very convenient tool for
 presentations. Klatexformula also provides also tools for equation prototyping
 in LaTeX and a user-library of used equations.
 This package contains the header files and static libraries to build the
 klatexformula libraries.
